/* 변수 */
:root{
    --main-color: #2ecc71;
    --main-color-border:#39d67c;
    --main-color-shadow:#25ab2e;

    --header-color: #2c3e50;

    --latest_post_color: #ffc40f;
    --latest_post_shadow: #b98e0b;

    --popular_post_color: #a660c2;
    --popular_post_shadow: #714185;

    --gallery_section_color: #e65d5d;
    --gallery_section_shadow: #c43434;

    --rankup_section_color: #2191f7;
    --rankup_section_shadow: #1974ba;

    --banner_section_color: #e6567a;
    
    --footer_color: #474747;
    --footer_shadow: #191919;

    --white: #fff;
}

/* 모바일 헤더영역 CSS*/
.header{
    display: flex;
    order: 2;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.logo{
    order: 1;
    width: 100%;
    padding: 30px 0;
    font-size: 1.188em;
    line-height: 21px;

    text-align: center;
    background-color: var(--main-color);
    text-shadow: 0 1px 1px var(--main-color-shadow);
}
.nav{
    order: 2;
    width: 100%;
}
.gnb li{
    display: flex;
    background-color: var(--header-color);
}
.gnb li a{
    width: 80%;
    padding: 20px 0 20px 20px;
    font-size: 0.938em;
    font-weight: bold;
}
.gnb li span{
    width: 20%;
    text-indent: -9999px;
    background: url(../image/s_images/plus\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px;
}
.menu_toggle_btn{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-indent: -9999px;
    background: url(../image/s_images/more.png);
    background-size: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}


/*모바일 footer영역*/
.footer{
    order: 10;
    width: 100%;
    background-color: var(--footer_color);
}
.footer p{
    color: var(--white);
    text-align: center;
    padding: 20px;
    font-weight: bold;
    text-shadow: 0 1px 1px var(--footer_shadow);
    font-size: 0.813em;
}


@media all and (min-width: 768px) {
    /* 기본 CSS */
    #wrap {
        flex-flow: row wrap;
    }

    /*태블릿 - 헤더영역CSS*/
    .header{
        flex-direction: row;
    }
    .logo{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 15.625%;/*120px/768*100*/
        padding: 0;
    }
    .logo a{
        display: block;
        padding: 50px 0;
    }
    .nav{
        position: relative;
        min-height: 80px;
        background-color: #2ecc71;
    }
    .gnb{
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 20;
        width: 40.10417%;/*308px/768 * 100*/
    }
    .menu_toggle_btn{
        top: 50px;
        right: 30px;
        z-index: 20;
        margin-top: -25px;
    }

    .footer p{
        padding: 40px;
    }

}


@media all and (min-width: 960px) {
    #wrap {
        width: 90%;
        position: relative;
    }
    /* pc 인포 영역 CSS*/
    .info_section{
        order: 0;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 30;
        width: auto;
        border-bottom: 0;
    }
    .info_list li{
        width: auto;
        margin-left: 15px;
    }
    .info_list li a{
        padding: 0;
    }

    /*PC - 헤더영역CSS*/
    .header{
        order: 1;
        justify-content: flex-end;
        position: static;
    }
    .logo{
        width: 12.5%;/*120px/960 * 100*/
    }
    .nav{
        display: flex;
        align-items: center;
        position: static;
        width: 87.5%;
    }
    .gnb{
        display: flex;
        flex-direction: row;
        position: static;
        width: 100%;
    }
    .gnb li{
        display: block;
        background: none;
        margin-left: 5.95248%/*50px/840 * 100*/;

    }
    .gnb li a{
        width: auto;
        padding: 0;
        text-indent: 0;
    }
    .menu_toggle_btn{
        display: none;
    }
    .gnb li span{
        display: none;
    }

    /*PC - footer영역*/
    .footer{
        order: 9;
    }
    .footer p{
        text-align: left;
    }


}

